<%= render partial: "partial" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @lead.full_name %>
</p>

<p>
  <strong>Business Name:</strong>
  <%= @lead.business_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @lead.phone_number %>
</p>

