<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<meta name="Rocket Elevators Website" content="" />
	<meta name="Dominic Villemure" content="Dominic Villemure [www.codeboxx.biz]" />
	<link rel="icon" type="image/png" href="R22.png">

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" /> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<%# <!-- CORE CSS -->
	<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> %>

	<!-- REVOLUTION SLIDER -->
	<%# <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" /> %>
	<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<%# <link href="assets/stylesheets/essentials.scss" rel="stylesheet" type="text/css" /> %>
	<%# <link href="assets/stylesheets/layout.css" rel="stylesheet" type="text/css" /> %>
	<%# <link href="assets/plugins/bootstrap/css/Custom.css" rel="stylesheet" type="text/css" /> %>
	<%# <link href="assets/stylesheets/Custom.css" /> %>



	<!-- PAGE LEVEL SCRIPTS -->
	<%# <link href="/assets/stylesheets/header-2.css" rel="stylesheet" type="text/css" />
	<link href="/assets/stylesheets/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" /> %>

	

</head>


<body class="smoothscroll enable-animation">

	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="dark navbar-toggleable-md sticky clearfix shadow-before-1">



			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">

					</ul>
					<!-- /BUTTONS -->


					<!-- Logo -->
					<a class="submenu-dark" href="#">

						<%= image_tag("R22.png", :alt => "RocketElevator-logo", :class => "img-fluid", :width =>"150", :height =>"60") %>
					</a>


					<!-- TOP NAV -->

					<div class="navbar-collapse collapse float-right nav-main-collapse">


						<nav class="nav-main">


							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li class="active">
									<!-- HOME -->
									<a href="#">
										HOME
									</a>

								</li>

								<li>
									<!-- SERVICES -->
									<a class="scrollTo" href="#to_services">
										SERVICES
									</a>
									<ul class="dropdown-menu">
										<li><a href="RocketElevatorsWebpage_Residential.html">Residential offers</a></li>
										
										<li><a href="RocketElevatorsWebpage_Corporate.html">Corporate offers</a></li>
										<li><a href="RocketElevatorsWebpage_submission.html">Submission</a></li>
									</ul>

								<li>
									<!-- PORTFOLIO -->
									<a class="scrollTo" href="#to_portfolio">
										PORTFOLIO
									</a>

								<li>
									<!-- NEWS -->
									<a class="scrollTo" href="#to_news">
										NEWS
									</a>

								</li>


								<li>
									<!-- CLIENTS -->
									<a class="scrollTo" href="#to_clients">
										CLIENTS
									</a>

								</li>

								<li>
									<!-- LOGIN -->
									<a href="admins">LOGIN</a>

								</li>

								<li>
									<!-- GRAPH -->
									<a href="charts">GRAPH</a>

								</li>


								
								

								<li>
									<!-- CONTACT US -->
									<a class="scrollTo" href="#footer">
										CONTACT US
									</a>

								</li>
							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>



		<!-- REVOLUTION SLIDER -->
		<div id="to_slider" class="slider fullwidthbanner-container roundedcorners">

			<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
				<ul class="hide">

					<!-- SLIDE 1 -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
					 data-title="slogan">
						<!-- MAIN IMAGE -->

						<%= image_tag("AdobeStock_103570025.jpeg", :alt => "first_slide_background", :width =>"600", :data => "center top", :data => "cover", :data =>"no-repeat") %>


						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="131" data-y="100" data-speed="400" data-start="1500"
						 data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Elevate safety, speed and style !
						</div>

						<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195" data-speed="500"
						 data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">

						</div>

						<div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800" data-easing="Power3.easeInOut"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg col-sm-1 col-md-1 col-lg-1 col-1 " data-x="865"
						 data-y="400" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-primary btn-lg scrollTo" href="#to_services"> <span style="color:black"> Services &nbsp; <i
									 class="fa fa-angle-right"></i> </span></a>
						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg col-sm-1 col-md-1 col-lg-1 col-1" data-x="865"
						 data-y="500" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-primary btn-lg" href="RocketElevatorsWebpage_submission.html"><span style="color:black">
									Submission &nbsp; <i class="fa fa-angle-right"></i> </span></a>
						</div>

					</li>

					<!-- SLIDE 2 -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
					 data-title="Residential">
						<!-- MAIN IMAGE -->

						<%= image_tag("trump_elevator.jpeg", :alt => "second_slide_background", :width =>"900", :data => "center top", :data => "cover", :data =>"no-repeat") %>

						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="131" data-y="100" data-speed="400" data-start="1500"
						 data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							All you need for Residential
						</div>

						<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195" data-speed="500"
						 data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">

						</div>

						<div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800" data-easing="Power3.easeInOut"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="865" data-y="500" data-speed="300"
						 data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-primary btn-lg" href="RocketElevatorsWebpage_Residential.html"> <span style="color:black">Residential
									buildings promotion &nbsp; <i class="fa fa-angle-right"></i></span></a>
						</div>
					</li>


					<!-- SLIDE 3 -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
					 data-title="Corporate">
						<!-- MAIN IMAGE -->

						<%= image_tag("Dark_design_elevator.jpeg", :alt => "third_slide_background", :width =>"900", :data => "center top", :data => "cover", :data =>"no-repeat") %>

						<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="31" data-y="100" data-speed="400" data-start="1500"
						 data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							All solutions for corporate project
						</div>

						<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195" data-speed="500"
						 data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">

						</div>

						<div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800" data-easing="Power3.easeInOut"
						 data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">

						</div>

						<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="865" data-y="500" data-speed="300"
						 data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
						 data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-primary btn-lg" href="RocketElevatorsWebpage_Corporate.html"> <span style="color:black">Corporate
									buildings promotion &nbsp; <i class="fa fa-angle-right"></i></span></a>
						</div>
					</li>


				</ul>

			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->

		<!-- BUTTON CALLOUT -->
		<section class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-20">
			<span class="font-lato fs-30" style="color:rgb(0, 0, 0)">
				For the best elevators,
				<strong> Rocket Elevators ! </strong>
			</span>
		</section>
		<!-- /BUTTON CALLOUT -->



		<!-- SERVICES -->
		<section id="to_services" class="dark">
			<div class="container">

				<div class="row">

					<div class="col-sm-4">


						<%= image_tag("5bf45826ede21.image.jpg", :alt => "Price_image", :class => "img-fluid", :height =>"300") %>



						<h3 class="mt-10">Prices we won and project we've done</h3>
						<p>We won multiples prices and we are happy to show you. You can also see some of our projects.</p>
						<a href="#to_portfolio" class="btn btn-default">SEE WHAT WE'VE ACCOMPLISHED</a>
					</div>

					<div class="col-sm-4">


						<%= image_tag("AdobeStock_124493370.jpeg", :alt => "Residential_offers_image", :class => "img-fluid", :height =>"300") %>

						<h3 class="mt-10">Residential Buildings</h3>
						<p>We have solution for all your residential needs. See by yourself.</p>
						<a href="RocketElevatorsWebpage_Residential.html" class="btn btn-default">RESIDENTIAL OFFERS</a>
					</div>

					<div class="col-sm-4">


						<%= image_tag("AdobeStock_146216308.jpeg", :alt => "Corporate_offers_image", :class => "img-fluid", :height =>"300") %>
						<h3 class="mt-10">Corporate Building</h3>
						<p>We have all what you need for your company. Take a look.</p>
						<a href="RocketElevatorsWebpage_Corporate.html" class="btn btn-default">CORPORATE OFFERS</a>


					</div>

				</div>

			</div>
		</section>
		<!-- /SERVICES -->




		<!-- PARALLAX -->
		<section class="parallax parallax-1 dark" style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
			<div class="overlay dark-5">
				<!-- dark overlay [1 to 9 opacity] -->
			</div>

			<div class="container">

				<div class="text-center">
					<h2 class="fs-40 fw-300">Rocket Elevators, in business since 1976.</h2>
					<a class="btn btn-default btn-lg" href="RocketElevatorsWebpage_submission.html">Get your submission <i class="fa fa-angle-right"></i></a>

					<a class="btn btn-default btn-lg" href="#footer">Contact us <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
		</section>
		<!-- /PARALLAX -->




		<!-- PORTFOLIO -->
		<section id="to_portfolio" class="dark">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Featured Work</h2>
				</div>

				<div class="text-center">
					<ul class="nav nav-pills mix-filter mb-60">
						<li data-filter="all" class="filter active"><a href="#">All</a></li>
						<li data-filter="residential" class="filter"><a href="#">Residential Building</a></li>
						<li data-filter="corporate" class="filter"><a href="#">Corporate Building</a></li>
						<li data-filter="price" class="filter"><a href="#">Price Winner</a></li>



					</ul>
				</div>

			</div>

			<div id="portfolio" class="portfolio-nogutter">

				<div class="row mix-grid">

					<div class="col-md-3 col-sm-3 mix corporate">
						<!-- Shanghai Tower -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/Shanghai_Tower.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>

									</span>
								</span>


								<%= image_tag("Shanghai_Tower.jpg", :alt => "Shanghai_Tower", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Shanghai Tower</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Corporate Building</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Shanghai Tower -->


					<div class="col-md-3 col-sm-3 mix residential">
						<!-- Canadian Tower -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/Tour_des_Canadiens.JPG" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("Tour_des_Canadiens.JPG", :alt => "CH_Tower", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>The Tour des Canadiens</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Residential Building</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Canadian Tower -->


					<div class="col-md-3 col-sm-3 mix corporate">
						<!-- CN Tower -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span c lass="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/CN_Tower.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("CN_Tower.jpg", :alt => "CN_Tower", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>CN Tower</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Corporate Building</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /CN Tower -->


					<div class="col-md-3 col-sm-3 mix design">
						<!-- Empire State Building -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/Empire_state.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("Empire_state.jpg", :alt => "Empire_State", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Empire State Building</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Corporate Building</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Empire State Building -->


					<div class="col-md-3 col-sm-3 mix price">
						<!-- Fastest Elevators -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/fastest_elevator.png" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("fastest_elevator.png", :alt => "Fastest_Elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Price winner for the fastest elevator</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Fastest Elevators -->


					<div class="col-md-3 col-sm-3 mix price">
						<!-- Inclined Elevators -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/inclined_elevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("inclined_elevator.jpg", :alt => "Inclined_Elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Best inclined elevator winner.</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Inclined Elevators -->


					<div class="col-md-3 col-sm-3 mix residential">
						<!-- Disabled acces -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/elevator_disabled.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("elevator_disabled.jpg", :alt => "Elevator_Disabled", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Disabled acces</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Residential</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Disabled acces-->



					<div class="col-md-3 col-sm-3 mix price">
						<!-- Best Theme of 2018 -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/elevator_design.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>


									</span>
								</span>


								<%= image_tag("elevator_design.jpg", :alt => "Elevator_Design", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Best Theme of 2018</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Best Theme of 2018 -->

					<div class="col-md-3 col-sm-3 mix price">
						<!-- Modern Elevators -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/Modern_elevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("Modern_elevator.jpg", :alt => "Modern_Elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Modern Elevators</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>


								</ul>
							</div>

						</div>

					</div><!-- /Modern Elevators -->


					<div class="col-md-3 col-sm-3 mix price">
						<!-- Old School Elevators -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/old_school_elevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("old_school_elevator.jpg", :alt => " Old_School_Elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Old School Elevators</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Old School Elevators-->



					<div class="col-md-3 col-sm-3 mix price">
						<!-- Space Elevators-->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/nasa_elevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus fs-20"></span>
										</a>



									</span>
								</span>


								<%= image_tag("nasa_elevator.jpg", :alt => "Nasa_Elevator", :class => "img-fluid", :width =>"600", :height =>"399") %>
							</figure>

							<div class="item-box-desc">
								<h3>Space Elevators</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Space Elevators -->


					<div class="col-md-3 col-sm-3 mix price">
						<!-- Most original design -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="/app/assets/images/water_elevator.jpg" data-plugin-options='{"type":"image"}'>

											<span class="fa fa-plus fs-20"></span>
										</a>

									</span>
								</span>
								<%= image_tag("water_elevator.jpg", :alt => "FishTank_Elevator", :class => "img-fluid", :width =>"200", :height =>"399") %>

							</figure>

							<div class="item-box-desc">
								<h3>Most original design</h3>
								<ul class="list-inline categories m-0">
									<li><a href="#">Price Winner</a></li>

								</ul>
							</div>

						</div>

					</div><!-- /Most Original design -->

				</div>


			</div>
		</section>
		<!-- /PORTFOLIO -->




		<!-- TESTIMONIALS -->
		<section class="section-xs dark">
			<div class="container">

				<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 5000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
					<div class="testimonial">
						<figure>

							<%= image_tag("MH.jpg", :alt => "Picture_of_Mathieu_Houde", :class => "rounded") %>
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">We are proud of our product. The elevators we make are safe, fast and have a lot of style !</p>
							<cite>
								Mathieu Houde
								<span>Rocket Elevators CEO</span>
							</cite>
						</div>
					</div>
					<div class="testimonial">
						<figure>

							<%= image_tag("Doum.jpg", :alt => "Picture_of_Dominic_Villemure", :class => "rounded") %>
						</figure>
						<div class="testimonial-content p-0">
							<p class="lead">I give my life to make the best product for you !</p>
							<cite>
								Dominic Villemure
								<span>Model Employee</span>
							</cite>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- /TESTIMONIALS -->





		<!-- NEWS -->
		<section id="to_news" class=dark>
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>News and Press release</h2>
				</div>


				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
					<div class="img-hover">
						<a target="new" href="https://www.brooklynpaper.com/stories/42/3/dtg-brooklyn-museum-elevator-project-2019-01-11-bk.html">
							<%= image_tag"Brooklyn_subway.jpg", :style=>"width: 250px;""height:350px; " %>
						</a>

						<h4 class="text-left mt-20"><a target="new" href="https://www.brooklynpaper.com/stories/42/3/dtg-brooklyn-museum-elevator-project-2019-01-11-bk.html">MTA
								commences two-year-plus project to install elevators at Brooklyn Museum station</a></h4>
						<p class="text-left">Contractors this week kicked off a two-year-plus project to install elevators and make other
							handicap-accessible improvements to Prospect Heights’s Eastern Parkway–Brooklyn Museum subway station.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								23th Jan 2019
							</li>

						</ul>
					</div>
					<div class="img-hover">
						<a target="new" href="https://www.watoday.com.au/national/western-australia/details-of-chevron-s-elizabeth-quay-tower-revealed-as-development-approved-20190118-p50s5k.html">
							<%= image_tag"chevron-4-logo.png", :style=>"width: 250px;""height:350px; " %>
						</a>

						<h4 class="text-left mt-20"><a target="new" href="https://www.watoday.com.au/national/western-australia/details-of-chevron-s-elizabeth-quay-tower-revealed-as-development-approved-20190118-p50s5k.html">Details
								of Chevron's Elizabeth Quay tower revealed as development approved</a></h4>
						<p class="text-left">The state government has given the final tick of approval for Chevron Australia's 30-storey
							office high-rise to be built at Elizabeth Quay.

							The Metropolitan Redevelopment Authority gave the green light for the tower to be built during a meeting in
							December, with details of the $360 million development publicly released on Friday.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								18th Jan 2019
							</li>

						</ul>
					</div>
					<div class="img-hover">
						<a target="new" href="https://newyorkyimby.com/2019/01/77-greenwich-rapidly-ascends-towards-500-pinnacle-in-the-financial-district.html">
							<%= image_tag"77-Greenwich.jpg", :style=>"width: 250px;""height:350px; " %>
						</a>

						<h4 class="text-left mt-20"><a target="new" href="https://newyorkyimby.com/2019/01/77-greenwich-rapidly-ascends-towards-500-pinnacle-in-the-financial-district.html">The
								77 Greenwich Building will need an elevator soon</a></h4>
						<p class="text-left">Work on 77 Greenwich Street is progressing rapidly. The imminently 500-foot tall and
							42-story building is quickly rising above its podium, and has already reached its tenth floor. The
							FXCollaborative-designed tower will house 90 residential units beginning 150 feet above the streets down below.
							Interiors are being designed by Deborah Berke Partners. Trinity Place Holdings is the developer of the site,
							which sits on the western side of the Financial District.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								15th Jan 2019
							</li>

						</ul>
					</div>
					<div class="img-hover">
						<a target="new" href="https://elevatortoday.com/2014/11/27/multi-first-rope-free-elevator-system-thyssenkrupp/">
							<%= image_tag"thyssenrupp_rope_less_elevators.jpg", :style=>"width: 250px;""height:350px; " %>
						</a>

						<h4 class="text-left mt-20"><a target="new" href="https://elevatortoday.com/2014/11/27/multi-first-rope-free-elevator-system-thyssenkrupp/">MULTI
								first rope-free elevator system by ThyssenKrupp</a></h4>
						<p class="text-left">The era of the rope-dependent elevator is now over, 160 years after its invention.
							ThyssenKrupp places linear motors in elevator cabins, transforming conventional elevator transportation in
							vertical metro systems. MULTI elevator technology increases transport capacities and efficiency while reducing
							the elevator footprint and peak loads from the power supply in buildings. Several cabins in the same shaft
							moving vertically and horizontally will permit buildings to adopt different heights, shapes, and purposes. The
							first MULTI rope-free elevator unit will be in tests by 2016.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								27th Nov 2016
							</li>

						</ul>
					</div>
					<div class="img-hover">
						<a target="new" href="https://elevatortoday.com/2016/01/28/worlds-tallest-moving-observation-tower/">
							<%= image_tag"Moving_tower.jpg", :style=>"width: 250px;""height:350px; " %>
						</a>

						<h4 class="text-left mt-20"><a target="new" href="https://elevatortoday.com/2016/01/28/worlds-tallest-moving-observation-tower/">Moving
								Tower</a></h4>
						<p class="text-left">People who love London Eye will have soon available another attraction called British
							Airways i360, a sleek 162-meter-tall tower with a glass viewing pod that, when complete (opening summer 2016),
							will be both the UK’s highest moving observation tower and the “world’s first vertical cable car.” Located just
							outside the capital near the beach in Brighton, the observation tower will whisk visitors up to a height of 138
							meters and offer views across the English Channel, the coastal Sussex landscape, and surrounding town.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								28th Jan 2016
							</li>

						</ul>
					</div>
					<div class="img-hover">
						<a target="new" href="https://elevatortoday.com/2018/10/02/otis-gen2-car-special-antimicrobial-features/">
							<%= image_tag"Otis2_widejpg.jpg", :style=>"width: 250px;""height:350px; " %>
						</a>
						<h4 class="text-left mt-20"><a target="new" href="https://elevatortoday.com/2018/10/02/otis-gen2-car-special-antimicrobial-features/">Otis
								Gen2 Car with Special Antimicrobial Features</a></h4>
						<p class="text-left">Otis Korea has released the Gen2® Care with special antimicrobial features, designed for
							multiple-use buildings including hospitals and medical facilities. 

							The Otis Gen2 Care elevator is equipped with a specially designed ‘Care System,’ with antimicrobial features
							that help reduce bacteria in the cab. The corners of the cab are fitted with UV LED lights for disinfection
							while the walls and handrails are coated with antibacterial materials. After rigorous tests by the Korea
							Analysis Test Researcher (KATR), the UV LED lighting was officially certified for its antimicrobial effects
							against E. coli, Salmonella, and Staphylococcus aureus.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								2th Oct 2018
							</li>

						</ul>
					</div>
				</div>

			</div>
		</section>
		<!-- /NEWS -->



		<!-- CLIENTS -->
		<section id="to_clients" class=dark>
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Clients</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.nhl.com/fr/canadiens">
							<%= (image_tag"CH_logo.png", :alt => "CH_Logo", :class => "img-fluid", :width =>"250", :height =>"250") %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="http://www.consortiummr.com/">
							<%= (image_tag"ConsortiumMR-logo.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250") %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.dell.com/fr-ca">
							<%= (image_tag"Dell_logo_tranparent.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.microsoft.com">
							<%= (image_tag"microsoft-logo-morph.gif", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.google.ca">
							<%= (image_tag"Google_logo_transparent.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.nasa.gov/">
							<%= (image_tag"Nasa_logo_transparent.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.apple.com/">
							<%= (image_tag"apple_logo_transparent.svg", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="http://www.ccb.com/en/home/indexv3.html">
							<%= (image_tag"china-construction-bank-logo.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.chevron.com/">
							<%= (image_tag"chevron-4-logo.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.cn.ca/fr/">
							<%= (image_tag"cn-logo-logo.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.samsung.com">
							<%= (image_tag"Samsung_logo_transparent.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a target="new" href="https://www.trump.com/">
							<%= (image_tag"Trump_organization_transparent.png", :alt => "elevator", :class => "img-fluid", :width =>"250", :height =>"250")  %>
						</a>
					</li>
				</ul>

			</div>
		</section>
		<!-- /CLIENTS -->




		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- FORM -->
					<div class="col-md-9">

						<h2>CONTACT US </h2>



						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields! 
						</div><!-- /Alert Mandatory -->


						<form method="post" action="/leads" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">

									<div class="col-md-4">
										<label for="date"> Date </label>
										<input required type="date" value="" class="form-control" name="date" id="date">
									</div>


									<div class="col-md-4">
										<label for="full_name"> Full Name </label>
										<input required type="text" value="" class="form-control" name="full_name" id="full_name">
									</div>
									<div class="col-md-4">
										<label for="business_name">Business Name </label>
										<input required type="text" value="" class="form-control" name="business_name" id="business_name">
									</div>
									<div class="col-md-4">
										<label for="email">E-mail Address </label>
										<input required type="email" value="" class="form-control" name="email" id="email">
									</div>
									<div class="col-md-4">
										<label for="phone_number">Phone Number</label>
										<input type="phone" value="" class="form-control" name="phone_number" id="phone_number">
									</div>
									<div class="col-md-4">
										<label for="department_in_charge_of_elevators">Department in charge of elevators</label>
										<input type="text" value="" class="form-control" name="department_in_charge_of_elevators" id="departement_in_charge_of_elevators">
									</div>






								</div>
								<div class="row">
									<div class="col-md-8">
										<label for="project_name">Name of the project </label>
										<input required type="text" value="" class="form-control" name="project_name" id="project_name">
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="project_description">Description of the project </label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="project_description" id="project_description"></textarea>
									</div>

									<div class="col-md-12">Message </label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="message" id="message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<label for="attached_file">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file" name="attached_file" id="attached_file"
										 data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i> SEND YOUR INFORMATIONS
									</button>
								</div>
							</div>
						</form>

					</div>
					<!-- /FORM -->

					<!-- INFO -->
					<div class="col-md-3">

						<h2>ABOUT US</h2>

						<p>
							Rocket Elevator is a dedicated compagny who listen his customers. Our slogan is elevate safety, speed and style.
							This is exactly the kind of elevator we make.
						</p>

						<hr />

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> <a target="new" href="https://www.google.com/maps/place/725+Boulevard+Lebourgneuf,+Qu%C3%A9bec,+QC+G2J+1S1/@46.8428435,-71.2818835,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897ddc2cec043:0xd450d4d0da014cc8!8m2!3d46.8428399!4d-71.2796948">
									725 Boulevard Lebourgneuf, </a>
								Québec, QC G2J 1S1</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-580-7055">418-580-7055</a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a target="new" href="https://imgur.com/gallery/TbKAF1l">support@codeboxx.biz</a></span>
						</p>

						<hr />

						<h4 class="font300">Business Hours</h4>
						<p>
							<span class="block"><strong>Monday - Friday:</strong> 8am to 6pm</span>
							<span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
							<span class="block"><strong>Sunday:</strong> Closed</span>
						</p>

						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=725%20Boulevard%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC%20G2J%201S1&t=&z=13&ie=UTF8&iwloc=&output=embed"
								 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
							<style>
								.mapouter {
									text-align: right;
									height: 300px;
									width: 300px;
								}
								.gmap_canvas {
									overflow: hidden;
									background: none !important;
									height: 300px;
									width: 300px;
								}
							</style>
						</div>

					</div>
					<!-- /INFO -->



				</div>

			</div>
			</section>

			<!-- FOOTER -->

			<!-- /FOOTER 2 -->
			<!-- /col #2 -->

			<div class="copyright">
				<div class="container">
					<ul class="float-right m-0 list-inline mobile-block">
						

						<li><a href="#">(418)580-7055</a></li>
						
					</ul>
					
					WHY US ? Because we are the best in the elevators technology.
				</div>
			</div>

	</div>


	</div>



	</footer>
	<!-- /FOOTER 2 -->

	</div>
	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>

	<!-- PRELOADER -->
	<div id="preloader">
		<div class="inner">
			<span class="loader"></span>
		</div>
	</div>
	<!-- /PRELOADER -->

	<script>
		var plugin_path = 'assets/plugins/';
	</script> 



	<script src="/assets/scripts.js"></script>



	<!-- REVOLUTION SLIDER -->
	<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/assets/view/demo.revolution_slider.js"></script>
	

	

</body>
</html>